/docs/conf.py
/docs/_build
/docs/
*__pycache__*
*.ipynb_checkpoints
/conda

# lab_server的notebook
/notebook/lab_server/tmp
/notebook/lab_server/test_notebook

/notebook/lab_server/erythroid_lineage_bak
/notebook/lab_server/erythroid_lineage/batch_extract
/notebook/lab_server/erythroid_lineage/data
/notebook/lab_server/erythroid_lineage/figures
/notebook/lab_server/erythroid_lineage/img
/notebook/lab_server/erythroid_lineage/log
/notebook/lab_server/erythroid_lineage/go
/notebook/lab_server/erythroid_lineage/kegg
/notebook/lab_server/erythroid_lineage/model
/notebook/lab_server/erythroid_lineage/0.调参/results
/notebook/lab_server/erythroid_lineage/8.celloracle/data

/notebook/lab_server/gastrulation_bak
/notebook/lab_server/gastrulation/batch_extract
/notebook/lab_server/gastrulation/data
/notebook/lab_server/gastrulation/figures
/notebook/lab_server/gastrulation/log
/notebook/lab_server/gastrulation/model


# local_pc的notebook
/notebook/local_pc_deprecated
/notebook/local_pc/tmp/
/notebook/local_pc/dev_notebook/

/notebook/local_pc/erythroid_lineage_bak
/notebook/local_pc/erythroid_lineage/batch_extract
/notebook/local_pc/erythroid_lineage/data
/notebook/local_pc/erythroid_lineage/figures
/notebook/local_pc/erythroid_lineage/go
/notebook/local_pc/erythroid_lineage/kegg
/notebook/local_pc/erythroid_lineage/log
/notebook/local_pc/erythroid_lineage/model
/notebook/local_pc/erythroid_lineage/tune

/notebook/local_pc/gastrulation_bak
/notebook/local_pc/gastrulation/batch_extract
/notebook/local_pc/gastrulation/data
/notebook/local_pc/gastrulation/figures
/notebook/local_pc/gastrulation/log
/notebook/local_pc/gastrulation/model

# cluster_server
/notebook/cluster_server_deprecated
/notebook/cluster_server/erythroid_lineage/cluster_run_log
/notebook/cluster_server/erythroid_lineage/cluster_script
/notebook/cluster_server/erythroid_lineage/batch_extract
/notebook/cluster_server/erythroid_lineage/data
/notebook/cluster_server/erythroid_lineage/figures
/notebook/cluster_server/erythroid_lineage/log
/notebook/cluster_server/erythroid_lineage/model
/notebook/cluster_server/erythroid_lineage/0.调参/results

/notebook/cluster_server/gastrulation/cluster_run_log
/notebook/cluster_server/gastrulation/cluster_script
/notebook/cluster_server/gastrulation/batch_extract
/notebook/cluster_server/gastrulation/data
/notebook/cluster_server/gastrulation/figures
/notebook/cluster_server/gastrulation/log
/notebook/cluster_server/gastrulation/model
/notebook/cluster_server/gastrulation/tmp
/notebook/cluster_server/gastrulation/0.调参/results
